.container{
    background-color: #761515;
    text-align: center;
    width: 360px;
    height: 251px;
    color: white;
    display: inline-block;
    margin: 10px;
}

.title{
    background-color: #935da4;
    font-size: 31px;
    width: -webkit-fill-available;
    border: none;
    text-align: center;
    color: white;
    font-family: 'Inconsolata', monospace;
    padding: 10px;
}

.description{
    
    margin: 5px 0px;
    padding: 10px;

}

