.container{
    background-color: #761515;
    text-align: center;
    width: 360px;
    height: 209px;
    color: white;
}

.title{
    background-color: #935da4;
    font-size: 35px;
    margin: 10px 0px;
    font-family: 'Inconsolata', monospace;
    padding: 10px;
}

.description{
    
    margin: 0px;
    padding: 10px;
    height: 58px;
}

