.container{
    background-color: #623770;
    text-align: center;
    padding: 50px;
    color: white;
}
.heading{
   
    font-size: 84px;
    font-family: 'Inconsolata', monospace;
    margin: 39px;
}

.discription{
    font-size: 19px;
    margin: 22px;
}
